<!--<div class="jumbotron hidden-xs">-->
<!--</div>-->
<nav class="navbar navbar-default navbar-static-top navbar-inverse bg-inverse" role="navigation">
		<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Notecard-Maker</a>
				</div>
			    <ul class="nav navbar-nav">
			      <li><a href="documentation">Documentation</a></li>
			    </ul>
					<ul class="nav navbar-nav navbar-right">
			       <li><a href="/<%= loggedIn ? 'home' : 'signup'%>"><span class="glyphicon glyphicon-<%= loggedIn ? 'home' : 'user'%>"></span><%= loggedIn ? 'Home' : 'Sign Up'%></a></li>
			      <li><a href="/<%= loggedIn ? 'logout' : 'login'%>"><span class="glyphicon glyphicon-log-<%= loggedIn ? 'out' : 'in'%>"></span> <%= loggedIn ? 'Logout' : 'Login'%></a></li>
			    </ul>
		</div>
</nav>
