<!DOCTYPE html>
<html>

<head>
    <title>Notecard-Maker-<%=pageTitle%></title>
    <%include partials/head.ejs%>
    <link rel="stylesheet" href="/css/form.css" type="text/css">
</head>

<body>
	<header>
			<% include partials/header.ejs %>
	</header>
	<div class="container">
   <div class ="row top-buffer">
      <div class="col-md-offset-3 col-sm-8 col-md-6" >
        <p class="h2">Sign in</p>
        <form method="POST" action="/login">
          <% if (alertBox) { %>
          <div class="alert alert-<%=alertBox.type%> alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong><%=alertBox.pre%></strong> <%=alertBox.message%>
          </div>
           <% } %>
          <div class="form-group">
             <label for="username">Username: </label>
             <input type="username" class="form-control" id="usr" name="username">
             <label for="pwd">Password: </label>
             <input type="password" class="form-control" id="pwd" name="password">
          </div>
          <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" name="remember">
          <span class="custom-control-description">Remember me</span>
          </label>
          <% if (errors) { %>
            <div class="errors">
				      <%=errors%>
		        </div>
          <% } %>
          <br />
          <input type="submit" class="btn btn-primary" id="login" value="Login">
        </form>
        <small class="form-text text-muted">Don't have an account? <a href="/signup">Register!</a></small>
      </div>
   </div>
  </div>
  <%include partials/foot.ejs%>
</body>
</html>
